
body{padding:0 3% 0 3% ;}

.container-fluid{
    margin-top: 10px;
    background: linear-gradient(279deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 57%, rgb(82, 128, 203) 100%);
    border-radius: 5px;
}
.container-main{
    margin-bottom:20px;
    min-height: 300px;
    background: linear-gradient(279deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 57%, rgb(82, 128, 203) 100%);
}
aside{
    color:white;
    float:left;
    margin: 1% 1.5%;
    width: 100%;
    background: linear-gradient(279deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 57%, rgb(82, 128, 203) 100%);
} 

section {
    padding:5px 10px 5px 10px;
    display:inline-block;
    margin: 20px;
} 
 #today{
    background-color:inherit;
    height:fit-content;
    width:70%;
    color:white;
    margin: 0 0 0 10pt;
    margin-left: auto;
    margin-right: auto;
}

#forecast{
    margin: 0 0 0 10pt;
    width:70%;
    justify-content:space-evenly;
    margin-left: auto;
    margin-right: auto;
    
}  

#search-button{
    width:100%;
    margin:5px;
    border-radius: 5px;
}
#search-input{
    width:10rem;
    margin-bottom:2px;
    margin-left: 5px;
    border-radius: 5px;
    background-color:rgb(250, 241, 230);
}
.hr{
    border: solid white;
}

p{
    font-size: 14px;
    padding-top:5px;
}






