/* 

#search-input{
    width:100%;
}
#search-button{
    width:100%;
}

.list-group{
    padding-right: 15px;
    width: 15rem; */
/* } */
.container-fluid{
    

}
aside{
    float:left;
    border:2px solid red;
    
    margin: 0 1.5%;
    width: 30%;
}

section {
    float:left;
    padding:5px;
    display:flex;
}
#today{
    border:solid 2px blue;
    height: 50px;
    float: left;
  margin: 0 1.5%;
  width: 30%;
}
#forecast{
    border: solid black 5px;
}


.cityBtn {

    margin:5px;
    background-color:rgb(166, 162, 162);
    border:0px;
    border-radius: 5px;
    }


.btn{
    margin:5px;
    
    border-radius: 5px; 
}
.hr{
    border: solid black;
}


p{
    font-size: 14px;
    padding-top:5px;
}

.card{margin-right: 30px;}



