
.container-fluid{
    margin-bottom:20px;
    background: linear-gradient(279deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 57%, rgba(0,212,255,1) 100%);
}
aside{
    float:left;
    margin: 0 1.5%;
    width: 100%;
}

section {
    float:left;
    padding:5px;
    display:flex;
    margin: 5px;
}
#today{
    background-color: rgb(170, 156, 156);
    height: 150px;
    float: left;
    margin: 0;
    width:60%;
}

#forecast{
    border: solid rgb(87, 40, 40) 2px;
    margin:0;
    width:60%;
    justify-content:space-evenly;
    
}


.cityBtn {
    margin:5px;
    background-color:rgb(166, 162, 162);
    border:0px;
    border-radius: 5px;
    width:100%;
    }


.btn{
    margin:5px;
    border-radius: 5px; 
}
#search-button{
    width:100%;
}
#search-input{
    width:100%;
}

.list-group{
    padding-right: 10px;
    width: 100%;
}

.hr{
    border: solid black;
}


p{
    font-size: 14px;
    padding-top:5px;
}






